click==8.0.4
colorama==0.4.4
cx-Freeze==6.10
cx-Logging==3.0
importlib-metadata==4.11.1
lief==0.11.5
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqt5-tools==5.15.4.3.2
python-dotenv==0.19.2
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
typing-extensions==4.1.1
zipp==3.7.0
